<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   </head>
    <body>
        @*que coño es esto cristina ayudame pofavo no tengo na solo soy una negra que no sabe bootstrap*@
    </body>
    </html>
