html {
    font-size: 14px;

}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: lightpink;
    font-family: 'Quicksand', sans-serif;
}

input[type="submit"] {
    border: dotted;
    border-color: pink;
    background-color: white;
}

input[type="submit"]:hover {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }
    