@{
    ViewData["Title"] = "Login";
}
    <h2>Actividad de login sencillo</h2>
    <form action="mailto:lidiaechuacas@gmail.com">
        <p>Introduce tu usuario: <input name="usuario"/></p>
        <p>Introduce tu contraseña: <input name="contra" type="password"/></p> @*autofocus??*@
    </form>
