@model ActividadLogin.Models.UsuarioModel
@{
    ViewData["Title"] = "Gracias Cris <3";
} 
@if (ViewBag.Mensaje != null)
{
    @ViewBag.Mensaje;
}
    <h2>Actividad de login sencillo</h2>

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    <p>
        Introduce tu usuario: @Html.TextBoxFor(modelo => modelo.usuario)
        @Html.ValidationMessageFor(modelo => modelo.usuario)
    </p>
    <p>
        Introduce tu contraseña:@Html.PasswordFor(modelo => modelo.contra)
        @Html.ValidationMessageFor(modelo => modelo.contra)
    </p>
    <input type="submit" name="iniciarsesion" value="Iniciar sesión">
}
